<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 大括号语法冲突 -->
    [[message]]  
    <!-- <input type="text" v-model="message"> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/index.js"></script>
  <!-- <script type="module">
    import('./js/data.js').then((res) => {
      console.log('res', res);
    })
  </script> -->
  <script  src="https://cdn.staticfile.org/systemjs/6.7.1/system.js"></script>
  <script >
    System.import('/js/data_bundle.js').then((res) => {
      console.log('res', res);
    });
  </script>
</body>
</html>